.card {
  display: inline-flex;
  box-shadow: 0 0 20px 2px #efefff;
  width: 200px;
  height: 110px;
  overflow: hidden;
  margin: 11px;
  border-radius: 5px;
  box-sizing: border-box;
  vertical-align: middle;
  &:hover {
    box-shadow: 0 0 20px 2px #d7d7ff;

    .card-right {
      .card-action {
        .card-icon {
          visibility: visible;
        }
      }
    }
  }
  &.card-password {
    padding: 10px 10px 0px 0;
    .card-left{
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &.card-add {
    align-items: center;
    justify-content: center;

    .menu-avatar {
      padding: 5px;
      &:hover{
        svg {
          fill: #958DF1;
        }
      }
      svg {
        fill: #d7d7ff;
      }
    }
  }

  .card-right {
    flex:1;

    .card-action {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .card-icon {
        visibility: hidden;
      }
      
      .icon-link{
        color: #eaeaf1;
        width: 16px;
        height: 16px;
        &:hover {
          color: #958DF1;
          cursor: pointer;
        }
      }
      .icon-copy {
        width: 12px;
        height: 12px;
        margin-left: 10px;
        fill: #eaeaf1;
        &:hover {
          fill: #958DF1;
          cursor: pointer;
        }
      }
    }

    .card-content {
      text-align: center;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 5px;
      line-height: 19px;
      color: #3a383f;

      .card-title {
        width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
      }
      .card-password {
        width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
      }
    }
    .card-bottom {
      text-align: right;

      .card-flag {
        display: inline-flex;
        border-radius: 50%;
        &-outter {
          width: 12px;
          height: 12px;
          background-color: #eaeaf1;
          align-items: center;
          justify-content: center;
        }
        &-inner {
          width: 10px;
          height: 10px;
          background-color: yellow;
        }
      }
    }
  }
}