.avatar {
  border-radius: 50%;
  overflow: hidden;
  background-color: #cecece;
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  &:hover {
    box-shadow: 0 0 4px 0px #CCC;
  }
  &-small {
    width:30px;
    height: 30px;
    .avatar-text {
      line-height: 30px;
    }
  }
  &-default {
    width:40px;
    height: 40px;
    .avatar-text {
      line-height: 40px;
    }
  }
  &-large {
    width:60px;
    height: 60px;
    .avatar-text {
      line-height: 60px;
    }
  }
  &-text {
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
  }
}